<h3>Enter feedback</h3>

<script type="text/javascript">

var _loadFeedback = false;

</script>

<textarea id="feedback" rows="5" cols="50"></textarea>
<br>
<button id="submit">Submit</button>
<span id="output"></span>
<ul id="existing"></ul>